@font-face {
  font-family: "Courgette";
  /*src: url(bellbottom.ttf) format("truetype");*/
}

body {
    /* margin: 0;
    max-width: 100vw; */
    background-color: #0C78DC;
}

h1, h2, h3, h4, h5, h6, a, a:visited {
  font-family: "Courgette", Verdana, Tahoma;
  text-align: center;
  color: white;
}

#logo {
  margin: 0 auto;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.top {
  margin-top: 60px;
  margin-bottom: 40px;
}

.inner {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom {
  margin-top: 20px;
  margin-bottom: 40px;
}

.bandcamp {
  display: block;
  border: 0;
  width: 100%;
  max-width: 357px;
  height: 357px;
  max-height: 357px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.row [class^="col-"]:last-of-type .bandcamp {
  margin-bottom: 0;
}

img.member {
  width: 100%;
}

@media only screen and (min-width: 75em) {
  [class^="col-"][class$="-offset-0"] {
    margin-left: 0;
  }
}

/* Desktops */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .bandcamp {
    height: 304px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .bandcamp {
    height: 352px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
  #logo {
    max-width: 46vw;
  }
}

/*
@media only screen and (max-width: 452px) and (min-width: 400px) {
}*/

@media only screen and (max-width: 452px) {
  .bandcamp {
    width: 279px;
    height: 279px;
  }
}

/* Mobile Devices */
/*@media only screen and (max-device-width: 1000px) and (min-device-width: 800px) {
}

@media only screen and (max-device-width: 800px) and (min-device-width: 600px) {
}

@media only screen and (max-device-width: 600px) and (min-device-width: 400px) {
}

@media only screen and (max-device-width: 400px) {
}*/

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
