html, body {
    overflow: hidden;
}

body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #63007b;
    position: relative;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#logo {}